{% extends 'base.html.twig' %}

{% block title %}Liste des commentaires{% endblock %}

{% block body %}
    <h1>Liste des commentaires</h1>
    <p>
        <a href="{{ path('comment_edit', {'id': 0}) }}">Ajouter un nouvel article</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Article</th>
                <th>Commentaire</th>
                <th>Utilisateur</th>
                <th>Date de création</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.article.title }}</td>
                <td>{{ comment.comment }}</td>
                <td>{{ comment.username }}</td>
                <td>{{ comment.createdat|date("m/d/Y H:i") }}</td>
                <td>
                    <a href="{{ path('comment_edit', {'id': comment.id}) }}">Modifier</a>
                </td>
                <td>
                    <a href="{{ path('comment_delete', {'id': comment.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun commentaire enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}